

ul.slick-dots {
    margin: 25px 0 0;
    position: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

ul.slick-dots li button {
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background: white;
    border: none;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

ul.slick-dots li.slick-active button {
    background-color: #14539a;
}
